# ~/.config/systemd/user/anaytics.timer

[Unit]
Description=Timer that periodically triggers analytics.service

[Timer]
# Every quarter at 10am
OnCalendar=*-03,06,09,12-01 10:00:00
Persistent=true

[Install]
WantedBy=timers.target
