<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head -->
  <head>
    <title>Plotting Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="description" content="a log analysis tool">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.1.2/chartkick.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <!-- Style -->
  <style type="text/css">
    body { padding-top: 50px; }
  </style>
  <!-- Body -->
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></span><font color = "ffffff"><strong>Plotting</strong></font></a></div>
          <div class="collapse navbar-collapse" id="defaultNavbar1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Yield -->
      <%= yield %>
    </body>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            &nbsp;
          </div>
        </div>
      </div>
    </footer>
 </body>
</html>
